@reference "./global.css";

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.header-container * {
  margin: 0;
}

.tags-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.blog-tag {
  @apply py-1 px-2 bg-muted text-foreground no-underline;
}

.blog-tag:hover, .blog-tag:focus-visible {
  @apply bg-accent text-accent-foreground no-underline;
}

.blog-tag.active {
  @apply bg-accent text-accent-foreground;
}
