@import "./global.css";

.overview-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.overview-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .75rem;
  margin-bottom: .75rem;
}

.overview-list li:last-of-type {
  margin-bottom: 0;
}

a {
  @apply text-foreground transition-colors duration-150;
  text-decoration: underline;
  text-decoration-color: var(--muted-foreground);
  text-underline-offset: 2px;
}

a:hover {
  @apply text-accent-foreground;
  text-decoration-color: var(--accent-foreground);
}

.no-mt {
  margin-top: 0;
}

main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.glow-icon {
  @apply text-primary;
  filter: drop-shadow(0 0 4px oklch(0.21 0.006 285.885));
}

.expressive-code {
  margin-top: 1rem;
}

.expressive-code figure {
  box-shadow: none !important;
}

.expressive-code figure pre {
  border-radius: 0 !important;
}

.expressive-code figcaption {
  border: none !important;
  border-radius: 0 !important;
}

.expressive-code figcaption::before {
  border: none !important;
}

.expressive-code span.title:not(.is-terminal span.title) {
  border-radius: 0 !important;
}

.expressive-code span.title::after {
  border-top: 1px solid oklch(0.21 0.006 285.885) !important;
  border-bottom: 0 !important;
}

.expressive-code .frame.has-title:not(.is-terminal) figcaption.header {
  border-radius: 0 !important;
}

.post-container {
  @apply flex flex-col gap-4 p-4 border border-border text-foreground no-underline transition-all duration-150;
}

.post-container:hover, .post-container:focus-visible {
  @apply bg-accent/20 border-accent text-accent-foreground no-underline;
}

.post-container:focus-visible {
  outline: none;
}

.post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-header h3 {
  margin: 0;
}

.post-date {
  @apply text-muted-foreground;
}

.text-glow {
  @apply text-primary;
  filter: drop-shadow(0 0 12px oklch(0.21 0.006 285.885));
}

.block-link {
  @apply text-foreground py-1 px-2;
}

.block-link:hover, .block-link:focus-visible {
  @apply text-accent-foreground bg-accent no-underline outline-none;
}

@media screen and (max-width: 1380px) {
  body {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 640px) {
  body {
    padding: 0;
  }

  main {
    padding-top: 0;
    gap: 1rem;
  }

  .post-header {
    flex-direction: column;
    gap: .5rem;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}