@import "./global.css";
@reference "./global.css";

.layout-grid-left, .layout-grid-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

@media screen and (max-width: 640px) {
  .layout-grid-left, .layout-grid-right {
    gap: 1rem;
  }
}

.flex-col-card {
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.header-container * {
  margin: 0;
}

.prose {
  line-height: 1.6;
}


.post-date, .work-experience-duration {
  @apply text-muted-foreground;
}

.work-experience-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.work-experience-entry:not(:last-of-type) {
  @apply border-b border-border pb-4;
}

.work-experience-duration {
  font-size: .925rem;
}

.work-experience-company {
  margin-top: .25rem;
  margin-bottom: .5rem;
}

.work-experience-role {
  margin-bottom: .75rem;
}

.socials-link {
  @apply text-foreground flex flex-row gap-3 items-center;
}
