---
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={"404"}
  description={"This page could not be found."}
	pagefindIgnore
>
  <div class="flex h-[80vh] justify-center items-center w-full text-center flex-col" slot="404">
    <h1 class="text-primary font-bold text-6xl m-0 tracking-tight">404</h1>
    <p class="text-xl">This page could not be found.</p>
    <Link href="/" class="mt-4" variant="link">← Back to the homepage</Link>
  </div>
</Layout>
