---
import { Image } from 'astro:assets';
import type { LocalImageProps, RemoteImageProps } from 'astro:assets';

type Props = LocalImageProps | RemoteImageProps;

const { ...props } = Astro.props;

const width = props.width;
const height = props.height;
---

<div class="relative">
  <Image
    {...props}
    class="relative z-10"
    class:list={[props.class]}
  />
  <Image
    width={width ? ((typeof width === 'number' ? width : Number.parseInt(width)) / 4) : undefined}
    height={height ? ((typeof height === 'number' ? height : Number.parseInt(height)) / 4) : undefined}
    {...props}
    class="absolute top-0 left-0 z-0 blur-[8px]"
    quality={75}
  />
</div>
